<div class="container mt-3">
    <h2>Update Game</h2>
    <button class="btn btn-primary" onclick="history.back()">Back</button>
    <form>
        <div class="form-group">
            <label for="gameId"></label>
            <input class="form-control" id="gameId" name="gameId" [(ngModel)]="gameIdVal" #gameId="ngModel" readonly>
            <label for="gameName"></label>
            <input class="form-control" id="gameName" name="gameName" required [(ngModel)]="gameNameVal" #gameName="ngModel" placeholder="Enter name">
            @if(gameName?.invalid && (gameName?.touched || gameName?.dirty)) {
            <div class="alert alert-danger">
                @if (gameName?.errors?.['required']) {
                    <div>Name is required</div>
                }
                @if (gameName?.errors?.['nameInvalid']) {
                    <div>Enter a valid name</div>
                }
            </div>
            }
            <label for="gameAge"></label>
            <input class="form-control" id="gameAge" name="gameAge" required [(ngModel)]="gameAgeVal" #gameAge="ngModel" placeholder="Enter age" (ngModelChange)="validateAge(gameAge)">
            @if(gameAge?.invalid && (gameAge?.touched || gameAge?.dirty)) {
            <div class="alert alert-danger">
                @if (gameAge?.errors?.['required']) {
                    <div>Age is required</div>
                }
                @else if (gameAge?.errors?.['ageInvalid']) {
                    <div>Enter a valid age</div>
                }
            </div>
            }
            <label for="gameMinPlayer"></label>
            <input class="form-control" id="gameMinPlayer" name="gameMinPlayer" required [(ngModel)]="gameMinPlayerVal" #gameMinPlayer="ngModel" placeholder="Enter min players" (ngModelChange)="validateMinMaxPlayers(gameMinPlayer, gameMaxPlayer)">
            @if(gameMinPlayer?.invalid && (gameMinPlayer?.touched || gameMinPlayer?.dirty)) {
            <div class="alert alert-danger">
                @if (gameMinPlayer?.errors?.['minPlayerInvalid']) {
                    <div>Enter a valid number</div>
                }
                @else if (gameMinPlayer?.errors?.['minGreaterMax']) {
                    <div>Min Player is greater than Max Player</div>
                }
            </div>
            }
            <label for="gameMaxPlayer"></label>
            <input class="form-control" id="gameMaxPlayer" name="gameMaxPlayer" required [(ngModel)]="gameMaxPlayerVal" #gameMaxPlayer="ngModel" placeholder="Enter max players" (ngModelChange)="validateMinMaxPlayers(gameMinPlayer, gameMaxPlayer)">
            @if(gameMaxPlayer?.invalid && (gameMaxPlayer?.touched || gameMaxPlayer?.dirty)) {
            <div class="alert alert-danger">
                @if (gameMaxPlayer?.errors?.['maxPlayerInvalid']) {
                    <div>Enter a valid number</div>
                }
                @else if (gameMaxPlayer?.errors?.['minGreaterMax']) {
                    <div>Min Player is greater than Max Player</div>
                }
            </div>
            }
        </div>
        <button [disabled]="gameName?.invalid || gameAge?.invalid || gameMinPlayer?.invalid || gameMaxPlayer?.invalid"
            (click)="onUpdateGame()" class="btn btn-primary">Submit!</button>
    </form>
</div>