<div class="container mt-3">
    <h2>Add Game</h2>
    <form>
        <div class="form-group">
            <label for="gameName">Game-Name</label>
            <input class="form-control" id="gameName" name="gameName" required [(ngModel)]="gameNameVal" #gameName="ngModel" placeholder="Enter name">
            @if(gameName?.invalid && (gameName?.dirty || gameName?.touched)) {
            <div class="alert alert-danger">
                @if (gameName?.errors?.['required']) {
                <div>
                    Name is required.
                </div>
                }
                @if (gameName?.errors?.['nameInvalid']) {
                <div>
                    This is not a valid name.
                </div>
                }
            </div>
            }

            <label for="age">age</label>
            <input class="form-control" type="number" name="age" required [(ngModel)]="ageVal" #age="ngModel" placeholder="Enter age">
            @if(age?.invalid && (age?.dirty || age?.touched)) {
            <div class="alert alert-danger">
                @if (age?.errors?.['required']) {
                <div>
                    age is required.
                </div>
                }
                @if (age?.errors?.['ageInvalid']) {
                <div>
                    This is not a valid age.
                </div>
                }
            </div>
            }
        </div>

        <label for="minPlayers">minPlayers</label>
        <input class="form-control" type="number" name="minPlayers" [(ngModel)]="minPlayersVal" #minPlayers="ngModel" placeholder="Enter minPlayers">
        @if(minPlayers?.invalid && (minPlayers?.dirty || minPlayers?.touched)) {
        <div class="alert alert-danger">
            @if (minPlayers?.errors?.['minPlayersInvalid']) {
            <div>
                This is not a valid minPlayers.
            </div>
            }
        </div>
        }

        <label for="maxPlayers">maxPlayers</label>
        <input class="form-control" type="number" name="maxPlayers" [(ngModel)]="maxPlayersVal" #maxPlayers="ngModel" placeholder="Enter maxPlayers">
        @if(maxPlayers?.invalid && (maxPlayers?.dirty || maxPlayers?.touched)) {
        <div class="alert alert-danger">
            @if (maxPlayers?.errors?.['maxPlayersInvalid']) {
            <div>
                This is not a valid maxPlayers.
            </div>
            }
        </div>
        }

        <button [disabled]="gameName?.invalid || age?.invalid || minPlayers?.invalid || maxPlayers?.invalid" 
            (click)="onAddGame()"
            type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>